<main class="wrapper">
  <section class="section parallax bg1">
    <h1>Wellcome to our website</h1>
  </section>
  <section class="section static ">
    <div class="slogan"><h1>We are creating what you need for your business<br><br> MODERN <br><br>EFFECTIVE</h1></div>   
  </section>
  <section class="section parallax bg2">
    <pre class="about">
    <h1>Who we are</h1>
    <h4>Lito-WEB design is a team of WEB developers who created a studio to help young companies 
      develop their own site and promote it on the Internet. To help you become strong and successful, 
      we are looking for something new and extraordinary every day. We aim to achieve your goals.</h4>
    </pre>
  </section>
  <section class="section static">
    <div class="container">
        <h1>Our aim</h1>
      <div class="row"> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
            </span>            
              <div class="contetnt">
              <h4>Main aim of the site.</h4>
              <p>We are creating the internet sites and shops</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
              </span>
              <div class="contetnt">
              <h4>What we strive for?</h4>
              <p>To help your company creaty personality image</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
              </span>
              <div class="contetnt">
              <h4>The main purpose.</h4>
              <p>Your copmany has its own page that impresses visitors</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
              </span>
              <div class="contetnt">
              <h4>For whom we do it?</h4>
              <p>We work for a wide range of our customers</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-adn fa-stack-1x fa-inverse"></i>
              </span>
              <div class="contetnt">
              <h4>Working with us in the future.</h4>
              <p style="margin-left:80px">Upon completion of the project,we support the site and conduct consultations</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-gg-circle fa-stack-1x fa-inverse "></i>
              </span>
              <div class="contetnt">
              <h4>How much does it cost?</h4>  
              <p>All works are individual and depend on the content of the site. </p>
              </div>
              
        </div> 
      </div>

    </div>
  </section>
  <section class="section parallax bg3">
    
    <div>
    <app-chooseus></app-chooseus>
  </div>
  </section>
</main>