<footer class="page-footer mdb-color center-on-small-only">

    <!--Footer Links-->
    <div class="container">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Addition menu and useful links</h5>
                <p>Creating the best for your business.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">LITO</h5>
                <ul>
                    <li><a routerLink="/app-totalskill">Our skill</a></li>
                    <li><a routerLink="/app-totalskill">Our team</a></li>
                    <li><a routerLink="/app-ourservice">Our service</a></li>
                    <li><a routerLink="/app-blog" >Our blog</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-md-2">
                <h5 class="title">Choise </h5>
                <ul>
                    <li><a href="https://www.popwebdesign.net/how-to-choose-web-design-company.html" target="_blank">Popwebdesign</a></li>
                    <li><a href="http://www.orbitmedia.com/blog/5-questions-to-ask-when-choosing-a-web-design-firm/" target="_blank">Orbitmedia</a></li>
                    <li><a href="https://agilie.com/en/blog/how-to-find-and-choose-a-good-web-design-company-or-hire-a-designer" target="_blank">Agile</a></li>
                    <li><a href="https://blog.markgrowth.com/web-designer-guide-how-to-choose-the-right-path-of-the-personal-growth-31461d316cb6" target="_blank">Markgrowth</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-md-2">
                <h5 class="title">Exapmles</h5>
                <ul>
                    <li><a href="https://forums.att.com/" target="_blank">AT&T</a></li>
                    <li><a href="http://www.livenationentertainment.com/" target="_blank">LiveNation</a></li>
                    <li><a href="https://hellodesignthinking.ideou.com/#/" target="_blank">Hellodesignthinking</a></li>
                    <li><a href="https://www.bellagio.com/en.html" target="_blank">Bellagio</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5>
            </li>
            <li><a routerLink='/app-contact' href="" class="btn btn-danger waves-light" mdbRippleRadius>Sign up!</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <hr>

    <!--Social buttons-->
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
        <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
        <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="Lito-webdesign.com.ua"> Lito-WEBdesign Ukraine version </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>