
<ul>
  <li><a routerLink="/app-parallax" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About us</a></li>
  <li><a routerLink="/app-totalskill" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Skills</a></li>
  <li><a routerLink="/app-portfolio" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Portfolio</a></li>
  <li><a routerLink="/app-team" routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>Out team</a></li>
  <li><a routerLink="/app-ourservice" routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>Service</a></li>
  <li><a routerLink="/app-blog" routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'>Blog</a></li>
  <li><a routerLink="/app-contact" routerLinkActive='active' [routerLinkActiveOptions]='{exact:true}'> Contact us</a></li>
  


<!--<li *ngFor='let n of list' (click)='select(n)' [ngClass]='{active:isActive(n)}'><a>{{n}}</a></li>-->
</ul>

