<section class="section feature-box">

  <!--Section heading-->
  <h1 class="section-heading pt-4">Why is it importent to work with us?</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">The WEB Studio was created to carry out social projects, but we decided to provide assistance to start-up entrepreneurs.</p>

  <!--Grid row-->
  <div class="row features-small">

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-bullhorn blue-text"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="feature-title">Skills</h4>
              <p class="grey-text">Our specialists always follow new developments in programming and design.We rarely use other people's templates, we do all projects on time and with a guarantee.</p>
              <a class="btn btn-primary btn-sm ml-0 waves-light " mdbRippleRadius>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-cogs pink-text"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="feature-title">SEO optimization</h4>
              <p class="grey-text">We use various software components to promote the site in the leading positions of search queries. Track the changes and adjust the behavioral characteristics of the site.</p>
              <a class="btn btn-pink btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-r">
          <div class="col-1 col-md-2 float-left">
              <i class="fa fa-dashboard purple-text"></i>
          </div>
          <div class="col-10 col-md-9 col-lg-10 float-right">
              <h4 class="feature-title">Support</h4>
              <p class="grey-text">After the delivery of the project, our team maintains your website, coordinates the necessary changes in the structure and performs work on changing the content if you need it.</p>
              <a class="btn btn-green btn-sm ml-0 waves-light" mdbRippleRadius>Learn more</a>
          </div>
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
