.striped li {
list-style-type: none;
text-align: left;
margin-left: 20px;

}
.striped li p{
    text-align: left;
    margin-left: 100px;
}
h1,p{
    margin-left: 10px;
}
.col-lg-4{
    margin-left: 0px;
}
.ourservice{
    text-align: center;
    background-color: rgb(247, 243, 243);
    width:auto;
    height: 100px;
}
.section-description{
    margin: 20px 0 30px 30px;
}
@media  screen and (max-width: 510px) {
    .mb-2{
        font-size: 40px;
    }
    .section-description{
        font-size: 20px;
        text-align: center;
    }
    li{
        margin-left: 10%;
    }
}
@media  screen and (min-width: 960px) {
   
     li {
        margin-left: 100px;
    }
}
