<section class="section pb-3">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Our pricing</h1>
  <!--Section description-->
  <p class="section-description">We do not attach ourselves to a specific price, we always negotiate and discuss. If there are discrepancies, we always find a compromise.</p>

  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                  <!--Content-->
                  <div class="card-body">
                      <h2>HTML5,CSS3</h2>
                      <!--Price-->
                      <div class="price pt-0">
                          <h4>from 100$</h4>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                          <li>
                              <p><strong>Blogs</strong></p>
                          </li>
                          <li>
                              <p><strong>Corporate</strong> sites</p>
                          </li>
                          <li>
                              <p><strong>Website </strong> card</p>
                          </li>
                          <li>
                              <p><strong>Landing</strong> page</p>
                          </li>
                          <li>
                              <p><strong>Individual</strong> sites</p>
                          </li>
                      </ul>
                      <button (click)="visible()" class="btn btn-success waves-light" mdbRippleRadius> Order now</button>
                  </div>

              </div>
              <!--Pricing card-->
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(4).jpg');">

              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3">

                  <!--Content-->
                  <div class="card-body">
                      <h2>Angular 2/4</h2>
                      <!--Price-->
                      <div class="price pt-0">
                          <h4>from 200$</h4>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                          <li>
                              <p><strong>Database</strong> sites</p>
                          </li>
                          <li>
                              <p><strong>Blogs</strong></p>
                          </li>
                          <li>
                              <p><strong>Corporate</strong> sites</p>
                          </li>
                          <li>
                              <p><strong>Website</strong> card</p>
                          </li>
                          <li>
                              <p><strong>Individual</strong> sites</p>
                          </li>
                      </ul>
                      <button (click)="visible()" class="btn  btn-primary waves-light" mdbRippleRadius> Odrer now</button>
                  </div>

              </div>
              <!--Pricing card-->
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">

              <!--Pricing card-->
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3">

                  <!--Content-->
                  <div class="card-body">
                      <h2>Joomla</h2>
                      <!--Price-->
                      <div class="price pt-0">
                          <h4>from 80$</h4>
                      </div>
                      <!--Price-->
                      <ul class="striped">
                          <li>
                              <p><strong>Website</strong> card</p>
                          </li>
                          <li>
                              <p><strong>Internet</strong> shops</p>
                          </li>
                          <li>
                              <p><strong>Database</strong> sites</p>
                          </li>
                          <li>
                              <p><strong>Landing </strong>page</p>
                          </li>
                          <li>
                              <p><strong>Individual</strong> sites</p>
                          </li>
                      </ul>
                      <button (click)="visible()" class="btn btn-success" mdbRippleRadius> Order now</button>
                  </div>

              </div>
              <!--Pricing card-->
          </div>
      </div>
      <!--Grid column-->

  </div>
  <!--Grid row-->
    <app-order ></app-order>
</section>
<!--Section: Pricing v.2-->
