<div class="conteiner">
  <div class="row">
    <div class="col-lg-12">
      <div ngClass='mainforskill'>
        <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"> Total skills<a class="indigo-text font-bold"> of our team</a></h1>
      </div>
      <div class="row">
        <div class=col-lg-6 ngClass='mainbar'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="progress-title">Negotiation</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%; background:#ef2d56;">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>          
                        <h3 class="progress-title">Level of programming</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:87%; background:#ff9900;">
                                <div class="progress-value">87%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Level of design</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:86%; background:#fff;">
                                <div class="progress-value">86%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Experience support</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:82%; background:#00d9ff;">
                                <div class="progress-value">82%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Price value</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:95%; background:#e90c0c;">
                                <div class="progress-value">95%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
        <div class="col-lg-6" ngClass='description'>
            <h3 class="why">Why choose us?</h3>
            <div class="sometext">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h4>
                    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>                   
                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet.</p>                    
                    <h4>Vero eos et accusamus et iusto odio dignissimos ducimus</h4>                    
                    <p>Qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. </p>                   
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis dolor repellendus. Qua temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae pondere ad lineam. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
                   <h4>Tempore intellegi convenire</h4>
                   <p>Qui autem alia matunt scribi a nobis, aequi esse debent, quod et seripta multa sunt, sic ut plura nemini e nostris, et scribentur fortasse plura et tamen qui diligenter haec quae de philosophia Htteris mandamus legere assueverit, iudicabit nulla ad legendum his esse potiora.</p>
                    
                    
            </div>
        </div>
      </div>
    </div>

  </div>
    <div class=row>
        <div class="col-lg-12">
                <h2 class="rewievcustomer font-bold light-blue-text my-5">Reviews of our customers</h2>   
            <div class="rewiev">
                            
                <div class="chip">                 
                        <img src="/assets/images/coments/kiril.jpg" alt="Contact Person"> Smuthin Kiril                        
                            <p class="recomendation">Two years ago I had to meet with Oleg and work on a project to develop a charitable organization website. For two months in a new college, the studio team has developed a really beautiful site with a logical design and original design. Thank you for the good job.</p>                             
                </div>
                <div class="chip">                 
                        <img src="/assets/images/coments/mariya.jpg" alt="Contact Person"> Kipath Mariya  
                        <p class="recomendation">This is really a team. I needed to urgently not only make a business card site but also write a small program for my dissertation. Everything was timely and almost without remarks. It was extremely difficult to make it for such a term. Very grateful to them.  </p>                 
                </div>
                <div class="chip">                 
                        <img src="/assets/images/coments/oksana.jpg" alt="Contact Person"> Lirnik Oksana 
                       <p class="recomendation">I have known Oleg since my studies at the institute. Punctual, purposeful and knows what to offer. The team has collected the one that can do everything with the proper planning of the task and good motivation. Do not let me down and I'll work with them in the future.  </p>                 
                </div>
                <div class="chip">                 
                    <img src="/assets/images/coments/valeriya.jpg" alt="Contact Person"> Mudrak Valeriya 
                    <p class="recomendation">Thank you to the studio and especially Oleg for helping me create the site of the institute where I work. It was a charity, since we just started our activities. Money is not important when you are a man. Thank you again.</p>                     
            </div>
            </div>

        </div>
    </div>
</div>
