<div class="conteiner">
  <div class="row">
    <div class="col-lg-12">
      <div ngClass='mainforskill'>
        <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"> Total skills<a class="indigo-text font-bold"> of our team</a></h1>
      </div>
      <div class="row">
        <div class=col-lg-6 ngClass='mainbar'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <h3 class="progress-title">Negotiation</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%; background:#ef2d56;">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>          
                        <h3 class="progress-title">Level of programming</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:87%; background:#ff9900;">
                                <div class="progress-value">87%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Level of design</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:86%; background:#fff;">
                                <div class="progress-value">86%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Experience support</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:82%; background:#00d9ff;">
                                <div class="progress-value">82%</div>
                            </div>
                        </div>
                        <h3 class="progress-title">Price value</h3>
                        <div class="progress">
                            <div class="progress-bar" style="width:95%; background:#e90c0c;">
                                <div class="progress-value">95%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
              
        </div>
        <div class="col-lg-6" ngClass='description'>
            <h3 class="why">Your guarantee is our specialists</h3>
            <div class="sometext">
                <div style="width:400px">
                    <p-growl [value]=""></p-growl>

       
        <p-accordion>
            <p-accordionTab header="Support" [selected]="true">
        We are always there when you need it. Count on us and we will impress you with your responsibility and professionalism. Our team is capable of more than you can imagine.
            </p-accordionTab>
            <p-accordionTab header="Programmers">
                Our programmers have several programming languages, which allows them to write code that is related to different tasks and complexity.
         </p-accordionTab>
            <p-accordionTab header="Designers">
          The main tool for design work is PhotoShop. The level of ownership by our designers, allows you to make layouts of varying degrees of complexity, for dynamically generated pages of the site.
            </p-accordionTab>
            </p-accordion>
                
                </div>
                    
            </div>
            <!--Section: Features v.1-->
<section class="text-center">

    <!--Section heading-->
    <h3 class="why">We guarantee</h3>
    <!--Section description-->
    <p class="px-5 mb-5">Our goal is not to get immediate profits and ignore future relationships. Our goal is to create a quality site for you for a little money. Qualitative result, it's also a motivation.</p>
    <p class="px-5 mb-5 ">From our experience 79% of customers have been satisfied with the first presentation of the work performed. Of the second presentation, 91% already had their own website and started to work with it.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-4">
            <i class="fa fa-area-chart fa-3x red-text"></i>
            <h5 class="font-weight-bold mt-3">Guarantee of site functioning.</h5>
            <p class="grey-text">All that is posted on the site in full. Absence of decorative blocks and programs.
            </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
            <i class="fa fa-book fa-3x cyan-text"></i>
            <h5 class="font-weight-bold mt-3">Unique site guarantee.</h5>
            <p class="grey-text">We create a site from scratch under your specific needs with unique functionality.
            </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
            <i class="fa fa-comments-o fa-3x orange-text"></i>
            <h5 class="font-weight-bold mt-3">Guarantee quality.</h5>
            <p class="grey-text">We do just that which is suitable for the locker and meets the criteria for the company.
            </p>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.1-->    
    
        </div>
      </div>
    </div>

  </div>
    <div class=row>
        <div class="col-lg-12">
                <h2 class="rewievcustomer font-bold light-blue-text my-5">Reviews of our customers</h2>   
            <div class="rewiev">
                            
                <div class="chip">                 
                        <img src="/assets/images/coments/kiril.jpg" alt="Contact Person"> Smuthin Kiril                        
                            <p class="recomendation">Two years ago I had to meet with Oleg and work on a project to develop a charitable organization website. For two months in a new college, the studio team has developed a really beautiful site with a logical design and original design. Thank you for the good job.</p>                             
                </div>
                <div class="chip">                 
                        <img src="/assets/images/coments/mariya.jpg" alt="Contact Person"> Kipath Mariya  
                        <p class="recomendation">This is really a team. I needed to urgently not only make a business card site but also write a small program for my dissertation. Everything was timely and almost without remarks. It was extremely difficult to make it for such a term. Very grateful to them.  </p>                 
                </div>
                <div class="chip">                 
                        <img src="/assets/images/coments/oksana.jpg" alt="Contact Person"> Lirnik Oksana 
                       <p class="recomendation">I have known Oleg since my studies at the institute. Punctual, purposeful and knows what to offer. The team has collected the one that can do everything with the proper planning of the task and good motivation. Do not let me down and I'll work with them in the future.  </p>                 
                </div>
                <div class="chip">                 
                    <img src="/assets/images/coments/valeriya.jpg" alt="Contact Person"> Mudrak Valeriya 
                    <p class="recomendation">Thank you to the studio and especially Oleg for helping me create the site of the institute where I work. It was a charity, since we just started our activities. Money is not important when you are a man. Thank you again.</p>                     
            </div>
            </div>

        </div>
    </div>
</div>
