<div class="view intro hm-white-light" style="background-image: url('/assets/images/clouds-2517653_1920.jpg'); background-attachment: fixed; height: 1200px;">
  <div class="full-bg-img">
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1200px">
              <div class="row mt-5">
                  <div class="col-md-12 wow fadeIn mb-3">
                      <div class="intro-info-content text-center">
                          <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"> Wellcome<a class="indigo-text font-bold"> to our Website</a></h1>
                          <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">The really place for the impresion works</h5>
                          <a routerLink='/app-portfolio' class="btn btn-light-blue btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">portfolio</a> 
                          <a  routerLink='/app-team'class="btn btn-indigo btn-lg wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">About us</a> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">    
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center mb-5">
          <h1 class="font-bold light-blue-text my-5">Who we are?</h1>
          <p align="justify">Lito-WEB design is a team of WEB developers who created a studio to help young companies develop their own site and promote it on the Internet. To help you become strong and successful, we are looking for something new and extraordinary every day. We aim to achieve your goals.</p>   
      </div>
      <!--Grid column-->    
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-white-light" style="background-image: none; z-index: 0; min-height: 700px;">
  <div class="full-bg-img">
      <div class="container flex-center">
          <div class="row mt-5 py-5">
              <div class="col-md-12 wow fadeIn mb-3" style="animation-name: none; visibility: visible;">
                  <div class="text-center">
                      <h1 class="display-2 mb-2 wow fadeInDown" data-wow-delay="0.3s">Lito-WEBdesign <a class="white-text font-bold">BLOG</a></h1>
                      <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Creation web sites & Internet shops</h5>
                      <a routerLink='/app-portfolio' class="btn btn-elegant btn-lg wow fadeInDown waves-effect waves-light" mdbRippleRadius data-wow-delay="0.4s">Our works</a> 
                      <a routerLink='/app-totalskill'  class="btn btn-outline-white btn-lg wow fadeInDown waves-effect waves-light" mdbRippleRadius data-wow-delay="0.4s">About us</a> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="video-parallax"><video src="/assets/video/Elevator - 3735.mp4" frameborder="0" autoplay="" loop=""></video>
  </div>
</div>

<div class="container rewards">   
  <!--Grid row-->
  <h1 class="font-bold grey-text mb-5">Our aim</h1>
  <div class="row">
        
      <!--Grid column-->
      <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                    <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                </span>            
                  <div class="contetnt">
                  <h4>Main aim of the site.</h4>
                  <p>We are creating the internet sites and shops</p>
                  </div>
          
      </div>
      <div class="col-lg-4 fadeInLeft">
            <span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
              </span>
              <div class="contetnt">
              <h4>What we strive for?</h4>
              <p>To help your company creaty personality image</p>
              </div>
        </div> 
        <div class="col-lg-4 fadeInLeft">
                <span class="fa-stack fa-2x" aria-hidden="true">
                    <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                  </span>
                  <div class="contetnt">
                  <h4>The main purpose.</h4>
                  <p>Your copmany has its own page that impresses visitors</p>
                  </div>
            </div> 
            <div class="col-lg-4 fadeInLeft">
                    <span class="fa-stack fa-2x" aria-hidden="true">
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                      </span>
                      <div class="contetnt">
                      <h4>For whom we do it?</h4>
                      <p>We work for a wide range of our customers</p>
                      </div>
            </div> 

            <div class="col-lg-4 fadeInLeft">
                    <span class="fa-stack fa-2x" aria-hidden="true">
                        <i class="fa fa-adn fa-stack-1x fa-inverse"></i>
                      </span>
                      <div class="contetnt">
                      <h4>Working with us in the future.</h4>
                      <p style="margin-left:80px">Upon completion of the project,we support the site and conduct consultations</p>
                      </div>
            </div> 
            <div class="col-lg-4 fadeInLeft">
                    <span class="fa-stack fa-2x" aria-hidden="true">
                        <i class="fa fa-gg-circle fa-stack-1x fa-inverse "></i>
                      </span>
                      <div class="contetnt">
                      <h4>How much does it cost?</h4>  
                      <p>All works are individual and depend on the content of the site. </p>
                      </div>
                      
            </div> 
      <!--Grid column-->   
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-pink-slight" style="background-image: url('/assets/images/hong-kong-1990268_1920.jpg'); background-attachment: fixed; background-size: cover; min-height: 700px">
  <div class="full-bg-img">    
        <div class="container">
                <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <div class="intro-info-content text-center">
                                <h1 class="display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Our team!</h1>
                                <h5 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">We are professional</h5>
                                <a routerLink='/app-team' class="btn btn-pink wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">Read more</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
  </div>
</div>
<div class="container">   
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center my-5">
          <h1 class="font-bold grey-text mb-5">Why choose our studio.</h1>
          <p align="justify">The web design studio was created 5 years ago, with the goal of creating its own web pages for social groups and charitable organizations. The choice of social programs has become for the studio the basis for the formation and implementation of many important projects.
            Team odnomyshlenikov also showed interest in creating projects for young businessmen in order to help in the creation of their website.
            During this whole period, many successful projects were created that helped create an image of a successful company or social group.
            We do not seek to earn, we want to help the steel to be recognizable and successful.
            We have passed this way therefore we are with you.</p>    
      </div>
      <!--Grid column-->   
  </div>
  <!--Grid row-->
</div>

<div class="view intro hm-purple-slight" style="background-image: url('/assets/images/new-york-2699520_1920.jpg'); background-attachment: fixed; min-height: 700px">
  <div class="full-bg-img">
      <div class="container">
          <div class="d-flex align-items-center d-flex justify-content-center" style="height: 700px">
              <div class="row mt-5">
                  <div class="col-md-12 wow fadeIn mb-3">
                      <div class="intro-info-content text-center">
                          <h1 class="display-1 white-text mb-2 wow fadeInDown" data-wow-delay="0.3s">Welcome on my page!</h1>
                          <h4 class="font-up mb-3 mt-1 font-bold wow fadeInDown" data-wow-delay="0.4s">Something about me</h4>
                          <a routerLink='/app-blog'  class="btn btn-pink wow fadeIn waves-light" mdbRippleRadius data-wow-delay="0.4s">Read more</a> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">   
  <!--Grid row-->
  <div class="row">
      <!--Grid column-->
      <div class="col-md-12 text-center my-5">
          <h1 class="font-bold grey-text mb-5">Why you need to evaluate the company's website.</h1>
          <p align="justify">How effective is your website? Is there a good return on business for him? It's amazing how many entrepreneurs can not answer these simple questions. And after the launch of the site itself, months could pass, and it is still not clear how well it contributes to the goals for which it was created, and whether it justifies the investments made.
            The thing is that the owner can not give an answer to the question about the effectiveness of his site simply because he does not know. And does not know, because no one is engaged in measuring and tracking such things. And for business it's really bad.</p>   
      </div>
      <!--Grid column-->  
  </div>
  <!--Grid row-->
</div>        
      