<section class="portfolio shift" itemscope itemtype="http://schema.org/WebSite">
  <div class="container">
      <div class="filter anim fadeInDown" data-wow-delay="0.55s">
        <button type="button" (click)="sortButtonClickHtml()" class="btn btn-outline-primary one" mdbRippleRadius>HTML5</button>
        <button type="button" (click)="sortButtonClickAngular()" class="btn btn-outline-primary two" mdbRippleRadius>Angular</button>
        <button type="button" (click)="sortButtonClickJoomla()" class="btn btn-outline-primary three" mdbRippleRadius>Joomla</button>
        </div>
        
    </div>
     <div class="gallary" itemprop="exampleOfWork">
      
        <p class="text"></p>
        <div class="grid">
        
            <div class="joomla view hm-zoom" itemprop="hasPart" >
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="inetshop"> <!-- insert class  id="desc"-->
                    <img class="demo" src="/assets/images/Site/joomla-1.jpg" itemprop="image"/>
                </p>
            </div>
            
            <div class="angular view hm-zoom" itemprop="hasPart" data-filter=".angular">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img  class="demo" src="/assets/images/Site/angular-2.jpg" itemprop="image" />
                </p>
            </div>
            
            <div class="angular view hm-zoom" itemprop="hasPart" data-filter=".angular">
                 <p href="images/blog-image-2.jpg"  data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/ukrcomangular.png" itemprop="image" />
                </p>
            </div>
            
            <div class="html view hm-zoom" itemprop="hasPart" data-filter=".html">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/html5-web-site7.jpg" itemprop="image"/>
                </p>
            </div>
            <!-- End of row -->
            
            <div class="joomla view hm-zoom" itemprop="hasPart" data-filter=".joomla">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="greece">
                    <img class="demo" src="/assets/images/Site/Greece blog-1.png"  itemprop="image" />
                </p>
            </div>
            
            <div class="html view hm-zoom" itemprop="hasPart" data-filter=".html">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/rastanovki.png" itemprop="image"/>
                </p>
            </div>
            
            <div class="joomla view hm-zoom" itemprop="hasPart" data-filter=".joomla">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/Lingerie shop-1.png" itemprop="image"/>
                </p>
            </div>
            
            <div class="html view hm-zoom" itemprop="hasPart" data-filter=".html">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="piza">
                    <img class="demo" src="/assets/images/Site/restoran.png"  itemprop="image"/>
                </p>
            </div>
            
            <div class="joomla view hm-zoom" itemprop="hasPart" data-filter=".joomla">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="lingerieshop">
                    <img class="demo" src="/assets/images/Site/joomla-3.jpg" itemprop="image"/>
                </p>
            </div>
            
            <div class="joomla view hm-zoom" itemprop="hasPart" data-filter=".joomla">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/joomla-2.jpg" itemprop="image"/>
                </p>
            </div>
            
            <div class="html view hm-zoom" itemprop="hasPart" data-filter=".html">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/logistikcompany.jpg" itemprop="image"/>
                </p>
            </div>
            
            <div class="angular view hm-zoom" itemprop="hasPart" data-filter=".angular">
                 <p href="images/blog-image-2.jpg" id="desc" data-icon="fa-search" data-lightbox="image1">
                    <img class="demo" src="/assets/images/Site/fontforsite.jpg" itemprop="image"/>
                </p>
            </div>
            
        </div>
        
        <div class="clearfix"></div>
    </div>
</section>
