.portfolio{
    background-color: rgb(247, 243, 243);
    width:auto;
    height: 100px;
}
h1{
    text-align: center;
    
}
@media only screen and (max-width: 480px) {
    .mb-2{
        font-size: 30px; 
    }
}