
<!--Section: Blog v.1-->
<section class="section pb-3 text-center text-lg-left">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Our blog.</h1>
    <!--Section description-->
    <p class="section-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="/assets/images/studio/mystudio-1.jpg" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="green-text"><h6 class="font-bold pb-1"><i class="fa fa-briefcase"></i> Office</h6></a>
            <h4 class="mb-4"><strong>This is our small office.</strong></h4>
            <p>In May 2011, as a future developer for me, I had to create an online store for clothing. It would seem that in such a time to find reliable developers who, 
                for a moderate price and in the short term, will be able to implement a small project. It turned out that making such a budget something competitive was 
                a difficult task. A month later I got a finished store designed on an open platform Open Chart. Functionality and graphic design were not at a high level. 
                As a result of long learning processes, the use of new experiences and design, we, and our associates, created a WEB design studio aimed at helping create 
                high-quality web pages for young entrepreneurs.</p>
            <p>by <a><strong>Project manager</strong></a>, 19/05/2017</p>
           
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-5 pb-3">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6 offset-xl-1 pb-3">
            <!--Excerpt-->
            <a href="" class="pink-text"><h6 class="font-bold pb-1"><i class="fa fa-briefcase"></i> Office</h6></a>
            <h4 class="mb-4"><strong>This is our little office.</strong></h4>
            <p>Creating something new is easy when you have experience, place, team and desire to help. Maybe it's not a lot, as for professionals, but honestly with respect to the customer. 
               I, as a designer of our studio, must design not only the appearance of the site but also understand the customer and anticipate his needs. Then the concept is discussed with 
               the team and agrees to the development task. For two years we have been working in a small office, which was part of my task of working out space. It seems like it turned out, 
               but we strive for more and do not stand still. We are planning to expand our collaboration with young and experienced designers and programmers to create more quality and profitable projects for all types of business.</p>
            <p>by <a><strong>Bashuk Oleg</strong></a>, 01/02/2018</p>
           
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-5">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="/assets/images/studio/mystudio-2.jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="hr-width mb-5 mt-4 pb-3">

    <!--Grid row-->
    <div class="row pb-5">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 offset-xl-1 pb-3">
            <!--Featured image-->
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
                <img src="/assets/images/studio/mystudio-3.jpg" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-6">
            <!--Excerpt-->
            <a href="" class="indigo-text"><h6 class="font-bold pb-1"><i class="fa fa-flag"></i> Travels</h6></a>
           <h4 class="mb-4"><strong>We are in the office our friends.</strong></h4>
            <p>Project Manager 43 3 4 In September we managed to take on the experience of our Czech colleagues from the studio "WIK studio". Some interesting facts about their work:</p>
            <ul>
                <li>In a year they create more than two hundred sites of different topics.</li>
                <li>At the beginning of their activities, they had grants from the municipality to support their activities.</li>
                <li>Within a year they have to implement 5 social projects</li>
                <li>If the company employs more than 40 people, this studio is supported by local authorities and I am in the ranking of the European Union.</li>
            </ul>
            <p>At the moment, there are still many convincing evidence of the openness of European society to digital development and the use of intellectual property. But social projects are 
                a norm and not a burden for the company. Therefore, we have decided to provide assistance to volunteer organizations and social groups in order to support European values.</p>
            <p>by <a><strong>Vasiliy Bikov</strong></a>, 18/03/2018</p>
            
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.1-->
            