
<div class="conteiner">
  <div class="row">
    <div class="col-lg-12">
        <div ngClass='team'>
            <h1 class="display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s"> Our<a class="indigo-text font-bold"> team</a></h1>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <section class="section team-section pb-3">

                    <!--Section heading-->
                    <h2 class="section-heading h1 pt-4">Your can meet us</h2>
                    <!--Section description-->
                    <h4 class="section-description">Everything we do is our inspiration for future projects. We feel what you need and how it will be better. Let's collaborate, get better and stronger.</h4>
                
                    <!--Grid row-->
                    <div class="row text-center">
                
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-r">
                
                            <div class="avatar">
                                <img src="/assets/images/staff/vadim.jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
                            </div>
                            <h4>Vadim Dyachuk</h4>
                            <h6 class="font-bold blue-text">SEO specialist</h6>
                            <p>I'm developing a strategy to promote the site and study the competitive environment of the future project. 
                              All content that hits the pre-filter page for the presence of key phrases and phrases that will form the basis of 
                              search queries in search nodes. Minimize customer's expenses on promotion of pages of the site in the TOP search sites.</p>
                
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                            <!--Instagram-->
                            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>
                            <div class="competence">
                                <h5>competence level</h5>
                            <div class="c100 p85">
                                  <span>85%</span>
                                  <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                  </div>
                            </div>
                              </div>   
                           
                                    
                        </div>
                        <!--Grid column-->
                        
                
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-r">
                
                            <div class="avatar">
                                <img src="/assets/images/staff/oleg-2.jpg" class="rounded-circle z-depth-1" alt="Second sample avatar image">
                            </div>
                            <h4>Oleg Bashuk</h4>
                            <h6 class="font-bold blue-text">Project manager</h6>
                            <p>In the development of projects only 3 years. During this time, he created a lot of good sites with the team and improved the approach to developing and promoting the site, 
                              in relation to his team. One of the main principles that helps in the creation of quality projects is close interaction with the customer and the study of the competitive 
                              environment in relation to the future subject of the site.</p>
                
                            <!--Linkedin-->
                            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--Dribbble-->
                            <a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>
                            <div class="competence1">
                            <h5>competence level</h5>
                            <div class="c100 p83">
                                <span>83%</span>
                                <div class="slice">
                                  <div class="bar"></div>
                                  <div class="fill"></div>
                                </div>
                                </div>
                          </div>
                        </div>
                        <!--Grid column-->
                
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-r">
                
                            <div class="avatar">
                                <img src="/assets/images/staff/nadiya-1.jpg" class="rounded-circle z-depth-1" alt="Third sample avatar image">
                            </div>
                            <h4>Nadiya Nikina</h4>
                            <h6 class="font-bold blue-text">WEB designer</h6>
                            <p>For a qualitative project, the main condition is the informative transmission of the content of the site. 
                              For this, several variants of the layout are proposed, with placement of material positions. Therefore, as a designer, 
                              I need to know the main trends in the subject matter of the page and offer the best solution.</p>
                
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--Pinterest-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
                            <!--Email-->
                           <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>
                           <div class="competence2">
                            <h5>competence level</h5>
                           <div class="c100 p90">
                            <span>90%</span>
                            <div class="slice">
                              <div class="bar"></div>
                              <div class="fill"></div>
                            </div>
                            </div>
                      </div>
                        </div>
                        <!--Grid column-->
                
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-r">
                
                            <div class="avatar">
                                <img src="/assets/images/staff/vasil.jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
                            </div>
                            <h4>Vasiliy Bikov</h4>
                            <h6 class="font-bold blue-text">Front-end Developer</h6>
                            <p>In programming I am 6 years old. The main precondition for choosing a team is to 
                                test team collaboration and understand what we are creating and for whom this project. 
                                The type of project also matters, since many graphic design creates an additional load on 
                                the program code. Therefore, the code page should be logical and without any extra logic.</p>
                
                            <!--Google +-->
                            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
                            <!--Facebook-->
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                            <!--GitHub-->
                            <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
                            <div class="competence3">
                            <h5>competence level</h5>
                            <div class="c100 p78">
                                <span>78%</span>
                                <div class="slice">
                                  <div class="bar"></div>
                                  <div class="fill"></div>
                                </div>
                                </div>
                          </div> 
                        </div>
                        <!--Grid column-->
                
                    </div>
                    <!--Grid row-->
                
                </section>
                <!--Section: Team v.1-->    
                  
                
            </div>

          </div>
    </div>

  </div>

</div>
